html {
	font-family: sans-serif;
	background-color: #ebebeb;
}

.container {
	padding: 0 1em;
	/*width:980px;*/
	margin:0 auto;
}

#header {
	/*border:1px solid #ebebeb;*/
	margin-bottom: 1%;
}

#logo {
	/*height:325px;*/
	/*height:75%;*/
	margin:0 auto;
	text-align: center;
}

#logo h1 {
	font-size: 5em;
	margin-bottom: 0;
	margin-top:0.25em;
}

#logo img {
	opacity: 0.50;
}

#content canvas {
	text-align: center;
}

.clear {
	clear: both;
	display:block;
}

#footer {
	clear: both;
	text-align: center;
	margin-top:2em;
}