html {
	font-family: sans-serif;
	background-color: #ebebeb;
}

#content {
	text-align: center;
}

#content table {
	text-align: left;
	margin: 0 auto;
}

.container {
	padding: 0.5em 1em;
	margin:0 auto;
	width:1000px;
}

canvas {
	display:inline-block;
}

#demo_asteroids, #demo_spiral {
	margin-top:2em;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}

#header {
	/*border:1px solid #ebebeb;*/
	margin-bottom: 1%;
}

#logo {
	/*height:325px;*/
	/*height:75%;*/
	margin:0 auto;
	text-align: center;
}

#logo h1 {
	font-size: 5em;
	margin-bottom: 0;
	margin-top:0.25em;
}

#logo img {
	opacity: 0.50;
}

#content canvas {
	text-align: center;
}

.clear {
	clear: both;
	display:block;
}

#footer {
	clear: both;
	text-align: center;
	margin-top:2em;
}